//global styles
$primary-background: #fff;
$primary-font-color: #666666;
$primary-font-size: 0.75rem;

//modal header

$modal-header-title-color: #00252f;
$modal-header-title-light: rgba(0, 37, 47, 0.56);

//patient details
$patient-details-header-color: #aaaaaa;
$icon-color: #ed8383;
$patient-card-bg: #fff6ef;

//admission journey
$admission-bg: #e5e5e5;
$admission-btn-color: #ff0042;
$admission-bold-font: #555555;
$circle-bg: #3ab748;
