@import "./resets";
@import "./variables";

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  @include flex-center();
}

.open-modal-btn {
  background-color: $icon-color;
  color: #fff6ef;

  &:hover {
    background-color: #fff6ef;
    color: $icon-color;
    border: 1px solid $icon-color;
  }
}

.modal-header {
  background: rgb(255, 192, 192);
  background: linear-gradient(
    90deg,
    rgba(255, 192, 192, 1) 0%,
    rgba(255, 250, 224, 1) 100%
  );

  .modal-header-sub-title {
    color: $modal-header-title-light;
  }
}

.modal-header-left {
  .modal-header-logo {
    .logo {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.modal-header-right {
  .resident {
    color: $modal-header-title-light;
    text-align: right;
  }

  .modal-header-btn {
    padding: 0.3125rem 1rem;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
}

.pateint-details {
  padding: 0.6rem;

  .row-cols-3 {
    .col {
      font-size: 0.85rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 0;
      border-radius: 0.25rem;
      position: relative;
      width: 9rem;

      label {
        padding: 0.4rem;
      }
      i {
        position: absolute;
        color: $icon-color;
        padding-right: 0.375em;
        right: 0;
        top: 0.84em;
      }
      input[type="text"] {
        font-size: 1rem;
        width: 100%;
        border: none;
        background: #fff6ef;
        outline: none;
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;
      }
    }
  }

  .row-cols-2 {
    margin-top: 0.6rem;
    .col {
      font-size: 0.85rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 0;
      border-radius: 0.25rem;
      position: relative;
      width: 13.5rem;
      margin-right: 0.5em;
      label {
        padding: 0.4rem;
      }
      i {
        position: absolute;
        color: $icon-color;
        padding-right: 0.375em;
        right: 0;
        top: 0.84em;
      }
      input[type="text"] {
        font-size: 1rem;
        width: 100%;
        border: none;
        background: #fff6ef;
        outline: none;
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;
      }
    }
  }
}

.admission-journey {
  background-color: $admission-bg;
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;

  .journey-heading {
    font-weight: 100;
    color: $modal-header-title-color;
  }
  .time {
    display: flex;
    align-items: center;

    .elapsed-time {
      color: $modal-header-title-light;
      font-size: 0.7rem;
    }
    .journey-btn {
      font-size: 0.7rem;
      color: $admission-btn-color;
      background-color: #ffffff;
      border: none;
      border-radius: 0.5em;
    }
  }

  .admission-sub-title {
    font-weight: 500;
    font-size: 1rem;

    span {
      font-weight: 400;
      font-size: 0.64rem;
      color: $modal-header-title-light;
    }
    .journey-right-time {
      font-weight: 400;
      color: $modal-header-title-light;
    }
  }
}

.timeline {
  position: relative;
  // max-width: 25rem;
  margin: 3rem auto;
}

.container-timeline {
  padding: 0.6rem 3.125rem;
  position: relative;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container-timeline:nth-child(1) {
  animation-delay: 0s;
}

.container-timeline:nth-child(2) {
  animation-delay: 1s;
}

.container-timeline:nth-child(3) {
  animation-delay: 2s;
}

.container-timeline:nth-child(4) {
  animation-delay: 3s;
}
.container-timeline:nth-child(5) {
  animation-delay: 4s;
}
.container-timeline:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 1rem 1.8rem;
  margin-bottom: 0.25rem;
  position: relative;
}

.journey,
.dr-name {
  display: flex;
  align-items: center;
}

.dr-name > i {
  color: #3762a4;
}

.journey > h3,
p,
.dr-name > i {
  margin-right: 1.2rem;
  font-size: 1.3rem;
}

.right {
  left: 12%;
}

.container-timeline {
  .fa-check,
  .fa-bed-pulse,
  .fa-bed {
    position: absolute;
    width: 35px;
    border-radius: 50%;
    background-color: $circle-bg;
    color: #ffffff;
    // right: -10px;
    top: 32px;
    z-index: 100;
    padding: 12px 9px;
    text-align: center;
  }

  .fa-bed-pulse,
  .fa-bed {
    background-color: white;
    color: #888888;
  }

  .journey-detail{
    margin-bottom: 1.3em;
  }

  .journey-detail,
  p {
    font-size: 1.2rem;
  }

  small {
    font-size: 0.725rem;
  }

  p {
    margin-bottom: 0;
  }
}
.fa-bed-pulse,
.fa-bed {
  background-color: white;
  color: #888888;
}

.right i {
  left: -7px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 0.18rem;
  height: 100%;
  background-color: rgba(34, 45, 49, 0.24);
  top: 0;
  left: 16.6%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@media screen and(max-width:600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 2rem;
  }

  .container-timeline {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .journey {
    flex-direction: column;
    align-items: flex-start;
  }
  .text-box {
    font-size: 0.8rem;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .right i {
    left: 10px;
  }

  .pateint-details .row-cols-3 .col {
    width: 100%;
    margin: 0.4rem 0;
  }
  .pateint-details .row-cols-2 .col {
    width: 100%;
    margin: 0.4rem 0;
  }
}